* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    font-family: 'Comfortaa', cursive;
    --main-color: #be2835;
    /* --secondary-color: #f6f6f6; */
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to bottom right, #98ddca, #d5ecc2, #ffd3b4, #ffaaa7);
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    letter-spacing: 0.5px;
    line-height: 30px;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
}


/* .tracking-in-expand {
    animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
} */

h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--main-color);
}

h3 {
    font-size: 1.5rem;
}

header {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.name {
    font-size: 2.5rem;
    padding-bottom: 20px;
    color: var(--main-color);
    animation: changeColor 5s infinite;
}

@keyframes changeColor {
    0% {
        color: var(--main-color)
    }
    50% {
        color: #542e71;
    }
    100% {
        color: var(--main-color);
    }
}

ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 30px 50px;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

header a:hover {
    text-decoration: underline;
    color: var(--main-color);
    text-decoration-thickness: 2px;
}

.text-focus-in {
    animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

.openning {
    display: flex;
    justify-content: center;
    height: 70vh;
    align-items: center;
    flex-direction: column;
}

.title {
    transform: translateY(-10vh);
}

.btn {
    padding: 10px 50px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    background-color: #272c33;
    color: white;
    border-radius: 30px;
}

.btn-resume {
    transform: translateY(-4vh);
}

.section {
    padding: 6% 15%;
}

.container {
    padding: 50px 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.about-img {
    width: 400px;
    margin-right: 50px;
}

.btn-visit {
    margin-top: 20px;
    font-size: 1rem;
}

.container p {
    padding: 10px 0;
}

footer {
    text-align: center;
    padding-bottom: 20px;
    color: transparent;
}

.thumbnail {
    width: 400px;
    margin-right: 50px;
}